<div id="alert" class="alert alert-dismissible fade show position-sticky top-0" role="alert" style="display:none;z-index:99999;">
  <span id="alert-text"></span>
  <button id="alert-close" type="button" class="btn-close"></button>
</div>