<html>
<head>
  <title><%= type %> | QR Code</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img{
        height: auto;
        max-height: 100vh;
        width: auto;
        max-width: 100vw;
      }
    </style>
  </head>
  <body>
    <img src="<%= url %>" alt="<%= type %> qr code">
  </body>
</html>