<html>
<head>
  <title><%= type %> Payment | QR Code</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        overflow: scroll;
      }
      img{
        height: auto;
        max-height: 100vh;
        width: auto;
        max-width: 100vw;
        border: 4px solid black;
      }
      .pay-btn{
        margin-top: 15px;
        padding: 10px 14px;
        background-color: #4271de;
        color: white;
        border-radius: 6px;
        text-decoration: none;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <img src="<%= url %>" alt="<%= type %> payment qr code">
    <% if(showPay){ %>
    <a href="<%- paymentUrl %>" target="_blank" class="pay-btn">Pay Now</a>
    <% } %>
  </body>
</html>